main{
	width:1900px;
	margin:auto;
	/* border:1px solid black; */
}
#home{
	position: fixed;
    bottom: 50px;
    right: 50px;
    width: 110px;
    height: 35px;
    border-radius: 25px;
    border: none;
    background-color: gray;
    text-align:center;
    padding-top:10px;
    opacity: 30%;
}
.container{
	display:flex;
	justify-content: center;
	flex-direction: row;
}
.rtitle{
	writing-mode: vertical-lr;
	text-align:center;
	height:250px;
	font-size:20px;
	padding-top:5px;
	border:1px solid black;
	background:black;
	color:yellow;
}
.rmenu{
	writing-mode: vertical-lr;
	width:100px;
	height:250px;
	border:1px solid black;
	font-size:30px;
	align:right;
	cursor: pointer;
	padding-top:5px;
}
#show{
	width:1900px;
	height:700px; 	
	/* background-img:url(); */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#img0{
	background-size: cover;
	background-image: url(/view/heesoo/img/0.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img1{
	background-size: cover;
	background-image: url(/view/heesoo/img/1.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img2{
	background-size: cover;
	background-image: url(/view/heesoo/img/2.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img3{
	background-size: cover;
	background-image: url(/view/heesoo/img/3.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img4{
	background-size: cover;
	background-image: url(/view/heesoo/img/4.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img5{
	background-size: cover;
	background-image: url(/view/heesoo/img/5.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img6{
	background-size: cover;
	background-image: url(/view/heesoo/img/6.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img7{
	background-size: cover;
	background-image: url(/view/heesoo/img/7.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img8{
	background-size: cover;
	background-image: url(/view/heesoo/img/8.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img9{
	background-size: cover;
	background-image: url(/view/heesoo/img/9.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}
#img10{
	background-size: cover;
	background-image: url(/view/heesoo/img/10.jpg);
	background-repeat:no-repeat;
	background-position:-90px;
	/* opacity:1!important;	 */
	color: white;
}